body{
    margin: 0%;
    padding: 0%;

    background-image: url('https://i.pinimg.com/564x/eb/99/7d/eb997d11bd0254c144f93bac4bfd3089.jpg');
    
    

}

main{
    padding: 20px;
    background-color: #000;
    justify-content: space-evenly;
    display: flex;
}

  table{
    /* grid é o melhor */
    display: flex;
    flex-wrap: wrap;
    /* display: table-footer-group; */
    
    color: white;
    border-color: white;
    gap: 10px;
    padding: 5px;
  }

  tr{
      display: flex;
      flex-direction: column;  
      border: 1px solid white;
      background-color: rgba(19, 18, 18, 0.337);
      width: calc(33% - 20px);
  }


  button{

        margin-left: 22px;
        border-radius: 5px;
        color: #000;
        height: 40px;
        width: 10%;
        text-align: center;
        background-color: #eaeaea;
            


  } 

    button:hover{
        

        transform: scale(1.3);
        color: red;
        background-color: #000;
        transition-property: all;
        transition-duration: 0.5s;
        opacity: 0.8;
    }

